#one {
  background-image: url("https://www.imdb.com/title/tt2049403/mediaviewer/rm1411806465/?ref_=tt_ov_i");
  background-size: contain;
  background-position: center;
  width: 250px;
  height: 272px;
}
